div.form
    h2.sub-title Sign in
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, aperiam nobis deserunt non ut facilis eligendi qui modi neque, delectus rem perferendis voluptatibus magni eius? Consequuntur quam cupiditate consequatur aperiam?
    div.button ok