.nav__menu-item {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.nav__menu a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
}