meta(charset='utf-8')

title HTMLWebpackPLugin with Pug

doctype html
head
  TEST
body

  block content
    h1 Generated HTML

    p This HTML was generated from a pug template, using HTMLWebpackPLugin!

footer
  p &copy; Copyright someone 2017