ul.nav__menu
    li.nav__menu-item
        a(href="#") Home
    li.nav__menu-item 
        a(href="#") About us
    li.nav__menu-item 
        a(href="#") Services
    li.nav__menu-item 
        a(href="#") Careers
    li.nav__menu-item 
        a(href="#") News
    li.nav__menu-item 
        a(href="#") Documentation
    button.nav__menu-item.nav__button.button.button_color--white LOGIN
    button.nav__menu-item.nav__button.button.button_color--blue REGISTER
    