.nav__item {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    
    & a {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
    }
}