html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport")
    link(rel="stylesheet", href="style.css")
    title my-title
  body
    wrapper.page
      include ./components/header/header.pug