@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
.page {
    display: block;
    margin: auto auto;
    max-width: 1160px;
}